<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Zlogify</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<%- include('partials/header') %>
<style>
  body {
    background-color: #fffdf2;
  }
</style>
<body>
<div class="container mt-5 " >
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark mt-3">Login</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>

</body>

</html>
