<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <article class="mb-4">
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <a href="/" class="btn btn-secondary mt-3">← Back to Home</a>
    </article>

    <%- include('partials/footer') %>
  </body>
</html>
